
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');